# input data parameters
INPUT_USER_INFO_TIKTOK_FILE=./data/TikTok_Data_1753181042.zip
USER_YANDEX_TRANSLATOR_COLLECTIONS=["681cc8524d43425f957c0811", "682ecb6cdbd913f0bf299920"]

# postgres data parameters
DB_NAME=video_captions
DB_USER=user
DB_PASS=password
DB_HOST=localhost
#DB_HOST=db
#DB_HOST=192.168.2.111
DB_PORT=5432
DB_TABLE=tik_tok

# video metainfo data collector
VIDEO_API_PARSER_WORKER_COUNT=10
VIDEO_DB_BATCH_SIZE=30

# whisper transcribe text from videos
WHISPER_MODEL=large
IS_DELETE_VIDEOS_AFTER_SPEACH_RECOGNITIONS=true
BATCH_SIZE_FOR_PROCESSING=50