# input data parameters
INPUT_USER_INFO_TIKTOK_FILE=./data/TikTok_Data_1753181042.zip
USER_YANDEX_TRANSLATOR_COLLECTIONS=["translate.yandex.ru/subscribe?collection_id=66ae370c8216a16a80580bd3&utm_source=new_collection_share_desktop"]
BOT_TOKEN=PASTE_YOUR_TOKEN
LESSON_OUT_DIR=_lesson

# postgres data parameters
DB_NAME=remindme
DB_USER=user
DB_PASS=password
DB_HOST=localhost
#DB_HOST=db
#DB_HOST=192.168.2.111
DB_PORT=5432
DB_TIK_TOK_VIDEOS_TABLE=tik_tok_video
DB_USER_VIDEO_TABLE=user_video
DB_USERS_TABLE=users
VOCABULARY_TABLE=user_vocabulary

# video metainfo data collector
VIDEO_API_PARSER_WORKER_COUNT=10
VIDEO_DB_BATCH_SIZE=30

# whisper transcribe text from videos
HF_TOKEN=hf_token
WHISPER_MODEL=large
IS_DELETE_VIDEOS_AFTER_SPEACH_RECOGNITIONS=true
BATCH_SIZE_FOR_PROCESSING=50

# asr whiserx
DEVICE=cuda
COMPUTE_TYPE=float16
BATCH_SIZE=16
PRELOAD_MODEL=large-v3
MAX_FILE_SIZE_MB=1000

# Ollama / LLM
LLM_MODEL=qwen2.5:14b-instruct
OLLAMA_HOST=http://localhost:11434